<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		
		<!-- <h1>{{test}}</h1> -->
		<form action="/newUser">
		<input id="userNew" class="inputBox" type="text" placeholder="Username for you&Your&#x2665;" name="userName">
		<input class="inputBox" type="date" placeholder="Special date to countdown:* " name ="enteredDate" style="margin-top:0em;">
		<button  name="submitButton" id="Submit" type="submit">Create new user</button>
		</form>
	<script>
	var t = {{test}};
	alert(t);
	</script>
	</body>
</html>
